
function strSplitToArr(str,token) {
  if(str){
    return str.split(token);
  }else {
    return str
  }

}
function numBeforeDot(num) {
  if(isNumDot(num)){
    var str=num.toString()
     return str.split('.')[0];

  }
  return num;

}
function isNumDot(num) {
  if(num===null||num===undefined){
    return false
  }
  var str=num.toString()
  return str.indexOf(".") != -1;
}
function numAfterDot(num) {

  if(isNumDot(num)){
    var str=num.toString()
   // console.log('小数')
    return str.split('.')[1];
  }

  return '';
}
function hideCode(str, endLen) {
  var len = str.length  - endLen;
  var xing = '';
  for (var i = 0; i < endLen; i++) {
    xing += '*';
  }
  return str.substring(0, len) + xing ;
}
function strMaxlength(str, length) {
  var len = str.length ;
  if(len>length){
    return str.substring(0, length) +'...'
  }

  return str ;
}
function couponLimit(limitNum) {
  if(limitNum==0){
    return '无限制'
  }
  return '订单金额满'+limitNum+'元可用'
}
function couponActLimit(title) {

  return '只限'+title+'可用'
}

module.exports = {
  strSplitToArr: strSplitToArr,
  numBeforeDot: numBeforeDot,
  isNumDot: isNumDot,
  numAfterDot: numAfterDot,
  hideCode: hideCode,
  strMaxlength: strMaxlength,
  couponLimit: couponLimit,
  couponActLimit: couponActLimit,

};
